<div class="">
    <input type="text" @keyup.enter="chat()" v-model="chatmessage" class="form-control" placeholder="Chat">
    <ul id="chat">
        <li v-for="message in messages">
            <strong>{{ message.user }}</strong>
            <span>[{{ message.time }}]</span>:
            {{ message.message }}
        </li>
    </ul>
</div>
