<form id="login" @submit.prevent="validateAndSubmit" oninput="confirmPassword.setCustomValidity(password.value != confirmPassword.value ? 'You entered two different passwords' : '')">

    <h2 v-if="logged_in === 0">Login</h2>
    <h2 v-if="logged_in === -1">Register</h2>

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" placeholder="Username" v-model="username" class="form-control" minlength="4" maxlength="14" required>
        <span v-if="logged_in === -1 && username.length > 0 && (username.length < 4 || username.length > 14)" class="text-danger">Username must be 4-14 characters long</span>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" placeholder="Password" v-model="password" class="form-control" minlength="10" maxlength="20" required>
        <span v-if="logged_in === -1 && password.length > 0 && (password.length < 10 || password.length > 20)" class="text-danger">Password must be 10-20 characters long</span>
    </div>

    <div class="mb-3" v-if="logged_in === -1">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" id="confirmPassword" placeholder="Confirm Password" v-model="confirmPassword" class="form-control" required>
    </div>
    
    <div v-if="logged_in === 0">
      <button type="submit" id="loginButton" @click="handleLogin()" class="btn btn-primary mb-3" v-if="me.state === 0">Login</button>
      <button type="submit" id="loginButton" class="btn btn-primary mb-3" v-if="me.state === 1">Login</button>
      <a id="registerButton" @click="logged_in = -1" class="btn btn-link mb-3 ms-2">Register</a>
    </div>
    
    <div v-if="logged_in === -1">
      <button type="submit" id="registerButton" @click="handleRegister()" class="btn btn-primary mb-3" v-if="me.state === 0">Register</button>
      <button type="submit" id="registerButton" class="btn btn-primary mb-3" v-if="me.state === 1">Register</button>
      <a id="loginButton" @click="logged_in = 0" class="btn btn-link mb-3 ms-2">Login</a>
    </div>
</form>